@charset "utf-8";

html {
	margin: 0;
	padding: 0;
    height: 100%;    
}

body {
	margin: 0;
	padding: 0;
	font-family: tahoma, verdana, arial;
	font-size: 14px;
	color: #565353;
    background: url(../images/pattern-bg.png) repeat #e7e7e7;
    min-height: 100%;
}

a {
	font-size: 14px;
	color: #0488B8;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
    color: #003a6b
}

a:active, a:focus, img {
	outline: 0;
}

h1 {
    font-family: arial, tahoma, verdana;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
    color: #565353;
}

h2 {
    font-family: arial, tahoma, verdana;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #565353;
}

h3 {
    color: #565353;
}

p {
    color: #565353;
    line-height: 23px;
}


#central-box {
    width: 90%;
    max-width: 960px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 1);
}

header#main {
    padding: 14px 20px 30px 20px;
}

header#main .logo, header#main .logo:hover {
    font-family: arial, tahoma, verdana;
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
    color: #A252A0;
    text-decoration: none;
    float: left;
}

#header_menu_box {
    background-color: #000;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

#header_menu_box ul li {
    float: left;
}

#header_menu_box ul li.right {
    float:right;
}

#header_menu_box ul li a {
    display: block;
    background-color: transparent;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 21px;
    padding: 7px 16px;
    text-decoration: none;
}

#header_menu_box ul li.active a, 
#header_menu_box ul li a:hover {
    background-color: #A252A0;
    color: #FFFFFF;
}

nav#top-nav {
    clear: both;
    text-align: left;
    margin-bottom: 10px;
}

nav#top-nav ul li {
    display: inline;
    margin-right: 10px;
}

nav#top-nav ul li a {
    font-size: 12px;
}

nav#bottom-nav {
    text-align: left;
    float: right;
}

nav#bottom-nav ul li {
    display: inline;
    margin-right: 10px;
}

nav#bottom-nav ul li a {
    font-size: 12px;
    color: #969696;
    text-decoration: underline;
}

nav#bottom-nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#cart_auth_box {
    margin-top:5px;
    padding-top: 15px;
    float: right;
    width: 50%;
    color: #565353;
    text-align: right;
}

#cart_auth_box ul li {
    float: right;
    margin-right: 10px;
}

#cart_auth_box ul li a span {
    background-color: #828282;
    color: #fff;
    padding: 0 4px;
    margin-left: 5px;
}

.user_icon {
    background: url(../images/user_icon.png) no-repeat left center;
    padding-left: 20px;
}

.cart_icon {
    background: url(../images/cart_icon.png) no-repeat left center;
    padding-left: 20px;
}

div#content {
    padding: 0 20px;
}

footer {
    background-color: #373737;
    color: #969696;
    padding: 20px;
    font-size: 12px;
}

footer div {
    width: 300px;
    float: left;
}

article span {
    color: #A252A0;
}

.last-news, .last-goods {
    margin-bottom: 20px;
}

.last-news article {
    width: 200px;
    float: left;
}

.last-news article a {
    font-weight: bold;
}

.last-goods article {
    width: 200px;
    display:inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
}

.last-goods article p {
    text-align: left;
}

.last-goods article a {
    font-weight: bold;
}

.last-goods article header a, .last-news article header a {
    font-size: 16px;
    font-weight: normal;
}

.good-price-inner {
    text-align: center;
    font-weight: bold;
    color: #A252A0;
}

.good-price-buy {
    text-align: center;
    margin-top: 10px;
}

.good-price-buy a {
    text-align: center;
}

.last-goods .more-box
{
    text-align: center;
    margin-top: 10px;
}

.news-item-box {
    margin-bottom: 20px;
    color: #565353;
    line-height: 23px;
}

.news-item-box header a {
    font-size: 16px;
}

.news-item-box .item-date {
    color: #A252A0;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}

.pagination ul > li {
    display: inline;
    line-height: 20px;
}

.pagination ul > li > a, 
.pagination ul > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
    color: #0088CC;
}

.pagination ul > li > a {
    color: #5B81A1;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #F5F5F5;
}

.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 4px 4px 4px 4px;
    list-style: none outside none;
    margin: 0;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.breadcrumb li {
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
}

.breadcrumb .active {
    color: #999999;
}

.breadcrumb .divider {
    color: #CCCCCC;
    padding: 0 5px;
}

.inner-page {
    margin-top: 20px;
}

.good-item {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.good-item header a {
    font-size: 16px;
    font-weight: normal;
}

.left-col {
    width: 250px;
    float: left;
}

.center-col {
    float: left;
    width: 670px;
}

ul.cat-menu {
    list-style-type: disc;
    margin: 5px 0;
}

ul.cat-menu li {
    padding: 4px 0;
    margin-left: 14px;
}

ul.cat-menu li.active > a {
    font-weight: bold;
    text-decoration: none;
}

ul.cat-menu li ul {
    margin-bottom:0;
}

.main-page h1 {
    padding-top: 20px;
}

.floated-left {
    float: left;
}

.entry-adv-block {
    color: #888F96;
    font-size: 12px;
    line-height: 21px;
    border-top: 1px solid #E1E1E1;
}

.entry-adv-block a {
    font-size: 12px;
    text-decoration: none;
}
.entry-adv-block a:hover {
    text-decoration: underline;
}
.entry-adv-block span {
    font-weight: bold;
}
.entry-adv-block {
    margin-top: 20px;
}
.entry-adv-block, .entry-social-block {
    padding: 6px 0;
}
.entry-rating-box {
    float: left;
    width: 100px;
}
.entry-info-box {
    float: left;
    margin-left: 30px;
}
.entry-rating-button {
    float: left;
    font-size: 18px;
    height: 24px;
    text-align: center;
    width: 24px;
}
.entry-rating-button a {
    font-size: 18px;
    text-decoration: none;
}
.entry-rating-button a:hover {
    text-decoration: none;
}
.entry-rating-count {
    color: #000000;
    float: left;
    font-size: 18px;
    height: 24px;
    text-align: center;
    width: 50px;
}

.entry-full-bottom {
    font-size: 12px;
    margin-top: 20px;
}
.entry-full-bottom a {
    text-decoration: none;
}
.entry-full-bottom a:hover {
    color: #000000;
    text-decoration: underline;
}
ul.commentlist {
    list-style: none outside none;
}
ul.commentlist li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.gravatar img {
    display: inline;
}
.gravatar a {
    text-decoration: none;
}
.gravatar a:hover {
    text-decoration: underline;
}
.entry-adv-block .user-link {
    color: #262626;
}
.entry-info-box h4 {
    width: 480px;
}

h4 {
    color: #565353;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
    padding: 0;
}

h4.entry-rating-header {
    margin-bottom: 10px;
    text-align: center;
}

.entry-social-block {
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    height:34px;
}

.social-icon-title {
    color: #262626;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
    text-align: center;
    width: 100px;
}

.social-icon-facebook {
    float: left;
    margin-left: 30px;
    margin-top: 7px;
    width: 130px;
}

.social-icon-vkontakte {
    float: left;
    margin-top: 7px;
    width: 100px;
}

.social-icon-twitter {
    float: left;
    margin-top: 7px;
    width: 140px;
}

.social-icon-google {
    float: left;
    margin-top: 7px;
    width: 80px;
}

.comment {
    margin-bottom: 12px;
    margin-top: 12px;
}
.comment img {
    border: medium none;
    padding: 0;
}
.comment .info {
    font-family: tahoma;
    font-size: 11px;
    line-height: 18px;
}
.comment .voting {
    float: right;
    margin-right: 7px;
    margin-top: 4px;
    padding-right: 36px;
    position: relative;
}


.comment a.avatar {
    border: 1px solid #636363;
    border-radius: 3px 3px 3px 3px;
    display: block;
    float: left;
    height: 24px;
    margin-right: 10px;
    overflow: hidden;
    width: 24px;
}
.comment div.username {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 12px;
}
.comment .time {
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 6px;
    color: #A252A0;
}
.comment a.link_to_comment {
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 6px;
}
.comment .voting {
    float: right;
    margin-right: 7px;
    margin-top: 4px;
    padding-left: 26px;
    padding-right: 26px;
    position: relative;
}
.comment .voting .plus {
    display: block;
    height: 13px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 13px;
}
.comment .voting .minus {
    display: block;
    height: 13px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 13px;
}
.comment .voting .plus, .comment .voting .minus, .comment .voting .plus a, .comment .voting .minus a {
    color: #A9A9A9;
    font-size: 18px;
    text-decoration: none;
}
.comment .voting .mark {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
}
.comment .voting .mark span {
    color: #000;
}
.comment a.reply {
    border-bottom: 1px dashed #636363;
    font-size: 12px;
    text-decoration: none;
}
.comment a.reply:hover {
    border-bottom: 1px dashed #EDEDED;
}
.comment .message {
    font-family: Arial,sans-serif;
    font-size: 13px;
    line-height: 140%;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #565353;
}
form textarea {
    height: 100px;
    width: 600px;
}
.depth-1 {
    margin-left: 0;
}
.depth-1 .text_area {
    width: 600px;
}
.depth-2 {
    margin-left: 30px;
}
.depth-2 .text_area {
    width: 560px;
}
.depth-3 {
    margin-left: 60px;
}
.depth-3 .text_area {
    width: 520px;
}
.text_reg {
    margin-left: 77px;
}
form label {
    display: block;
    margin-bottom: 3px;
}
form textarea {
    margin-bottom: 3px;
}

.clearboth {
    
    clear: both;
}


/* forms */
.form-container {
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:400px;
   width:400px;
}

.form-field {
   margin-bottom:20px;
   width:386px;
}

.form-field:focus {
   background: #fff;
}

.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
}

.form-title {
   margin-bottom:10px;
   color: #565353;
}

.submit-container {
   margin:8px 0;
   text-align:right;
}

.submit-container button {
    margin-left: 8px;
}


textarea, input[type="text"], input[type="password"], select {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 12px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.input-medium {
    width: 160px;
}
input, textarea, select {
    padding: 2px;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, textarea, select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    
    border-radius: 0 0 0 0;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 4px 6px;
    vertical-align: middle;
}

.input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 282px;
    float: left;
}


textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, select:focus {
    border-color: #a252a0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #a252a0;
    outline: 0 none;
}

div.errors, div.FormViewErrorBox  {
    background-color: #FFE5E5;
    border-color: #FF0000;
    border-style: solid;
    border-width: 1px 1px 1px 6px;
    color: #A80707;
    margin: 10px 0;
    padding: 6px;
    text-indent: 0;
}

div.errors p, div.FormViewErrorBox p {
    color: #A80707;
    margin: 0;
}

select.form-field {
    width: 400px;
}

.required {
    color: red;
}

/* end of forms */

.e404 {
    margin-bottom: 20px;
}

.btn {
    padding: 7px 10px 7px 10px;
    vertical-align: top;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: "Segoe UI Light", "Segoe UI", "Segoe WP", "Helvetica Neue", "Lato", Tahoma,Verdana;
    font-size: 16px;
    border: none;
}

.btn {
    background-color: #EEEEEE;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.btn:hover {
    background-color: #EEEEEE;
    color: #333333;
}

.btn-warning {
    color: #fff;
    background-color: #F5A932;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-warning:hover
{
    background-color: #f09609;
}

.btn-primary {
    color: #fff;
    background-color: #a252a0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
    color: #fff;
    background-color: #773575;
}

a.btn {text-decoration: none; display: inline-block;cursor: default}
.last-news-more {
    margin-bottom: 20px;
}

.gallery-item-box {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin-bottom: 40px;
    margin-right: 40px;
    text-align: center;
}

.project-meta {
    text-align: center;
    line-height: 24px;
    text-decoration: none;
}

.project-meta .description
{
    color: #565353
}


.form-horizontal {
    
}

.form-horizontal .control-group {
    clear: both;
    margin-bottom: 20px;
    width: 500px;
}

.control-group input[type="text"], 
.control-group input[type="password"],
.control-group textarea {
    width: 386px;
}

.control-group select {
    width: 400px;
}

.inner-page > section {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 20px;
}

div#content ul.disc {
    margin-left: 20px;
}

div#content ul.disc li {
    list-style: disc;
}


.data-table {
    width: 100%;
}

.data-table td, .data-table th {
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.data-table th {
    padding: 10px 0;
}

.quantity {
    width: 130px;
}

.quantity input {
    width: 130px;
}

.cart-buttons-box {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
}

.order_comment textarea {
    width: 910px;
}

.order_row {
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

div.jGrowl.top-right {
	right: 				0px;
	top: 				0px;
}

.image-cover-box {
    width: 200px;
    height: 200px;
    line-height: 200px;
    display: iniline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}

.image-cover-box a {
    vertical-align: middle;
}

.image-cover-box img {
    vertical-align: middle;
}

#payer_company_form {
    display: none;
}

/* responsive begin */
nav select {
    display: none;
    margin-top: 2px;
}

#small-cart-table {
    display: none;
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #wrapper { width: 100%; }
    .form-row { width: 100%; position: relative;}
    .form-field, .form-container { width: 100%; min-width: 0; }
    .form-field { width: 90%; }
    .submit-container { text-align: center; }
    .submit-container button { display: inline-block; }
    .control-group input[type="text"], .control-group input[type="password"], .control-group textarea {
        width: 90%;
    }
    .form-horizontal .control-group { width: 100%; }
    .order_comment textarea { width: 90% } 
    .control-group select { width: 100%; }
} 

/* iphone 5 */ 
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    #wrapper { width: 100%; }
    nav ul     { display: none; }
    nav select { display: inline-block; }
    .left-col { float: none; }
    .center-col { margin-left: 0; }
    footer { text-align: center; }
    nav#bottom-nav { display: inline-block; float: none; }
    footer div { float: none; width: auto; }
    #cart_auth_box { float: none; text-align: left; width: auto; }
    #cart_auth_box ul {float: left;}
    header#main .logo, header#main .logo:hover { float: none; }
    .form-row { width: 100%; position: relative;}
    .form-field, .form-container { width: 100%; min-width: 0; }
    .form-field { width: 90%; }
    .submit-container { text-align: center; }
    .submit-container button { display: inline-block; }
    .control-group input[type="text"], .control-group input[type="password"], .control-group textarea {
        width: 90%;
    }
    .form-horizontal .control-group { width: 100%; }
    #big-cart-table { display: none }
    #small-cart-table { display: block; }
    .cart-buttons-box { text-align: center; }
    .order_comment textarea { width: 90% } 
    .control-group select { width: 100%; }

    div.jGrowl div.jGrowl-notification {
        width: auto;
    }

    div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
        width: auto;
    }
}

/* iphone */
@media only screen and (max-width: 480px) {
    #wrapper { width: 100%; }
    nav ul     { display: none; }
    nav select { display: inline-block; }
    .left-col { float: none; }
    .center-col { margin-left: 0; }
    footer { text-align: center; }
    nav#bottom-nav { display: inline-block; float: none; }
    footer div { float: none; width: auto; }
    #cart_auth_box { float: none; text-align: left; width: auto; }
    #cart_auth_box ul {float: left;}
    header#main .logo, header#main .logo:hover { float: none; }
    .form-row { width: 100%; position: relative;}
    .form-field, .form-container { width: 100%; min-width: 0; }
    .form-field { width: 90%; }
    .submit-container { text-align: center; }
    .submit-container button { display: inline-block; }
    .control-group input[type="text"], .control-group input[type="password"], .control-group textarea {
        width: 90%;
    }
    .form-horizontal .control-group { width: 100%; }
    #big-cart-table { display: none }
    #small-cart-table { display: block; }
    .cart-buttons-box { text-align: center; }
    .order_comment textarea { width: 90% } 
    .control-group select { width: 100%; }

    div.jGrowl div.jGrowl-notification {
        width: auto;
    }

    div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
        width: auto;
    }
}
/* responsive end */

.old-price {
    text-decoration: line-through;
    color: grey;
}


input[type="text"].search-field {
    height: 31px;
    padding: 1px 6px;
}

.search-full-form {
    margin-bottom: 20px;
}

.search-full-form input[type="text"] {
    width: 500px;
}

.search-types {
    margin: 10px auto 30px auto;
    text-align: center;
    
}

.search-types li {
    display: inline;
    text-align: center;
    margin-right: 10px;
}

.search-types li.active a {
    font-weight: bold;
    text-decoration: none;
}

.user-balance-block
{
    font-size: 14px;
    margin-bottom: 10px;
}


.data-table, .data-table td {
    border-collapse: collapse;
    margin:0;
    vertical-align: middle;
}

.data-table td button {
    display: inline;
    vertical-align: middle;
    margin: 0;
}


.data-table-bordered td, .data-table-bordered th {
    border: 1px solid #DDDDDD;
    
}

.data-table-bordered td, .data-table-bordered th {
    padding: 8px;
}

.data-table-bordered th {
    color: #34353E;
}


.services-item {
    width: auto;
    float: none;
    margin-bottom: 20px;
}

.services-item header {
    margin-bottom: 10px;
}

.services-item header a {
    font-size: 16px;
}

.services-item .image-cover-box {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.services-item .description-box {
    width: 300px;
    float: left;
}

.services-item .good-price-block {
    float: right;
    width: 140px;
}

.services-item .good-price-block .good-price-inner {
}

.services-item .good-price-block .good-price-buy {
    text-align: center;
    padding-top: 20px;
}

.services-item .good-price-block .good-price-buy a {
    cursor: pointer;
}